<app-navbar></app-navbar>
<!-- <p>company works!</p> -->
<div class="container-fluid">
    <div class="container" style="margin: 5rem;"></div>
    <div class="container mb-5">
        <h2>Meet the team</h2>
    </div>

    <div class="container d-flex teams">
        <div class="container d-flex-md flex-column" >
            <img class="m-2" src="" alt="" style="width: 300px; height: 300px;  border: 1px solid;" height="" id="HR">
            <!-- <label for="HR" class="text-center">Mr. A</label> -->
            <h4>Mr. A</h4>
            <label for="HR">Proprieter</label>
        </div>
        <div class="container d-flex flex-column">
            <img class="m-2" src="" alt="" style="width: 300px; height: 300px;  border: 1px solid;" height="" id="HR">
            <h4>Mr. A</h4>
            <label for="HR">Proprieter</label>
        </div>

        <div class="container d-flex flex-column">
            <img class="m-2" src="" alt="" style="width: 300px; height: 300px;  border: 1px solid;" height="" id="HR">
            <h4>Mr. A</h4>
            <label for="HR">Proprieter</label>
        </div>
    </div>

    <div class="container">
        <hr class="featurette-divider" style="margin: 5rem 0;">
    </div>

    <div class="container d-flex teams">
        <div class="container d-flex flex-column">
            <img class="m-2" src="" alt="" style="width: 300px; height: 300px;  border: 1px solid;" height="" id="HR">
            <h4>Mr. A</h4>
            <label for="HR">Proprieter</label>
        </div>
        <div class="container d-flex flex-column">
            <img class="m-2" src="" alt="" style="width: 300px; height: 300px;  border: 1px solid;" height="" id="HR">
            <h4>Mr. A</h4>
            <label for="HR">Proprieter</label>
        </div>

        <div class="container d-flex flex-column">
            <img class="m-2" src="" alt="" style="width: 300px; height: 300px;  border: 1px solid;" height="" id="HR">
            <h4>Mr. A</h4>
            <label for="HR">Proprieter</label>
        </div>
    </div>

    <div class="container">
        <hr class="featurette-divider" style="margin: 5rem 0;">
    </div>


    <div class="container d-flex teams" style="margin-bottom: 5rem;">
        <div class="container d-flex flex-column">
            <img class="m-2" src="" alt="" style="width: 300px; height: 300px;  border: 1px solid;" height="" id="HR">
            <h4>Mr. A</h4>
            <label for="HR">Proprieter</label>
        </div>
        <div class="container d-flex flex-column">
            <img class="m-2" src="" alt="" style="width: 300px; height: 300px;  border: 1px solid;" height="" id="HR">
            <h4>Mr. A</h4>
            <label for="HR">Proprieter</label>
        </div>

        <div class="container d-flex flex-column">
            <img class="m-2" src="" alt="" style="width: 300px; height: 300px;  border: 1px solid;" height="" id="HR">
            <h4>Mr. A</h4>
            <label for="HR">Proprieter</label>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container" style="margin-bottom: 5rem;">
        <h3>Our Clients</h3>
    </div>
    
    <div class="container d-flex flex-row flex-md-column" style="margin-bottom: 5rem;" id="clients">
        <div class="container d-flex flex-column flex-md-row justify-content-between" style="margin-bottom: 2rem ;">
            <img  class="mb-5"  src="./assets/Images/ClientLogos/MSETCL.png" alt="" >
            <img  class="mb-5" src="./assets/Images/ClientLogos/MSEDCL.jpg" alt=""  style="background-color: red;">
            <img  class="mb-5"  src="./assets/Images/ClientLogos/Central railway.jpg" alt="" >
        </div>
        <div class="container d-flex flex-column flex-md-row justify-content-between" style="margin-bottom: 2rem ;">
            <img  class="mb-5"  src="./assets/Images/ClientLogos/serum-logo.png" width="300px" alt="" >
            <img  class="mb-5"  src="./assets/Images/ClientLogos/Reliance.png" width="100px" height="100px" alt="">
            <img  class="mb-5"  src="./assets/Images/ClientLogos/TataPower.png" alt="" >
        </div>
        <div class="container d-flex flex-column flex-md-row justify-content-between" style="margin-bottom: 2rem ;">
            <img  class="mb-5"  src="./assets/Images/ClientLogos/MSETCL.png" alt="" >
            <img  class="mb-5"  src="./assets/Images/ClientLogos/AmarBuilders.png" alt=""  style="background-color: red;">
            <img  class="mb-5"  src="./assets/Images/ClientLogos/TataPower.png" alt="" >
        </div>
    </div>
</div>



<app-footer></app-footer>