<app-navbar></app-navbar>
<div class="container" style="margin: 5rem;"></div>
<!-- <div class="container"> -->
    <!-- <form>
        <div class="mb-3">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName" aria-describedby="Name">
  
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="inputPhoneNumber" class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="inputPhoneNumber">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->

      <div class="container d-flex flex-column">
        <h1 class="mb-5">Please contact us on: </h1>
        <h2  class="mb-3">Address : <span  class="fw-light">S D Harpale, Office B-20, 5th Floor, Destination Center, Magarpatta City, Hadapsar, Pune, Maharashtra - 411013</span> </h2>
        <h3 class="mb-3">Email : <span  class="fw-light"><a href="mailto:abc@xyz.com">abc@xyz.com</a> </span></h3>
        <h3 class="mb-3">Phone no. : <span  class="fw-light">020 268 9999</span></h3>
      </div>
      
<!-- </div> -->
<div class="container" style="margin:5rem"></div>
<app-footer></app-footer>



<!-- <div class="container" style="margin:5rem"></div> -->

