.nav-item{
    font-size: 16px;
    transition: 0.3s ease-in-out;
}
.nav-item:hover {
    background-color: #bf9863;
    transform: translateY(10px);
    font-size: 25px;
}

.navbar{
    transition: 0.3s ;
}

.navbar:hover{
    /* transition: 0s ease-in-out 0.2s; */
    box-shadow: 0px -10px #bf9863 inset;

}

.dropdown-item:hover{
    background-color: #bf9863;
    /* transform: translateY(10px); */
    /* font-size: 25px; */
}

@media only screen and (min-width: 768px){
    .dropdown:hover .dropdown-menu{
        display: block;
    } 
}

/* .navbar:hover { */
    /* background-color: #bf9863; */
    