<!-- <app-home></app-home> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* @import "~bootstrap-icons/font/bootstrap-icons.css"; */

        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@300&display=swap');
    </style>

</head>

<body>
    <router-outlet></router-outlet>
</body>

</html>


<!-- <div style="position: absolute; bottom: 0px;"> -->
<!-- <app-footer style="position: relative; bottom: 0px;"></app-footer> -->
<!-- </div> -->