<app-navbar></app-navbar>
<!-- Hello World -->
<!-- <h1>Hello World!</h1> -->
<div class="container-fluid" style="margin: 5rem;">

</div>
<div class="container-fluid d-flex">
    
    <div class="container text-center">
        <img src="" alt="" style="width: 500px; height: 400px; border: 1px solid;" >
    </div>
    
    <div class="container align-self-center text-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In incidunt aliquid non saepe magnam asperiores aut tempora esse dolorem maxime maiores laboriosam at beatae, sit praesentium? Animi, sed! Corporis, esse.</p>
    </div>
    
</div>
<div class="container">
    <hr class="featurette-divider" style="margin: 5rem 0;">
</div>

<div class="container-fluid d-flex">

    <div class="container align-self-center text-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In incidunt aliquid non saepe magnam asperiores aut tempora esse dolorem maxime maiores laboriosam at beatae, sit praesentium? Animi, sed! Corporis, esse.</p>
    </div>
    
    <div class="container text-center">
        <img src="" alt="" style="width: 500px; height: 400px; border: 1px solid;" >
    </div>
    
    
    
</div>
<div class="container">
    <hr class="featurette-divider" style="margin: 5rem 0;">
</div>

<div class="container-fluid d-flex">
    
    <div class="container text-center">
        <img src="" alt="" style="width: 500px; height: 400px; border: 1px solid;" >
    </div>
    
    <div class="container align-self-center text-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In incidunt aliquid non saepe magnam asperiores aut tempora esse dolorem maxime maiores laboriosam at beatae, sit praesentium? Animi, sed! Corporis, esse.</p>
    </div>
    
</div>
<div class="container">
    <hr class="featurette-divider" style="margin: 5rem 0;">
</div>

<div class="container-fluid d-flex">
    
    <div class="container align-self-center text-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In incidunt aliquid non saepe magnam asperiores aut tempora esse dolorem maxime maiores laboriosam at beatae, sit praesentium? Animi, sed! Corporis, esse.</p>
    </div>

    <div class="container text-center">
        <img src="" alt="" style="width: 500px; height: 400px; border: 1px solid;" >
    </div>

    
</div>
<app-footer></app-footer>